*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

#navegador ul{
    list-style-type: none;
    text-align: center;
 }
 #navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 }
 #navegador li a {
    padding: 2px 7px 2px 7px;
    color: #fff;
    background-color: #d69e2e;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
 }
 #navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }

.boton-comprar{
    margin-top: 10px;
    padding: 1px;
    display: inline;
    color: #fff;
    background-color: #d69e2e;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
}
main{
    margin-top: 20px;
}

.img-slider{
    width: 100%;
    height: 20em;
}

.slider{
    width: 100%;
}

section{
    width: 100%;
    height: auto;
    padding-top: 15px;
    background-color:#c7b098;
    
}


h1{
    font-size: 2rem;
}


.precio{
    margin-bottom: 10px;
    margin-top: 5px;

}

.conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #c7b098;
    height: auto;
}

.item{
    width: 30%;
    height: auto;
    flex-grow: 1;
    flex-basis: 100%;
    margin: 5px;
    background-color: white;
    border-radius: 2em;
    
}

.img-item{
    padding-top: 5px;
    border-radius: 50%;
    max-width: 10rem;

}



@media all and (min-width: 600px){
    .item{flex: 1 1 auto;}
}

article{
    padding-top: 50px;
    background-color:#c7b098;
}
.contenedor-articulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#c7b098;
}

.img-articulo, .texto-articulo{
    flex-grow: 1;
    margin: 5px;
    border-radius: 2em;
    width: 50%;
    height: 15rem;
    
}

.img-articulo{
    max-width: 20rem;
    margin-right: 20px;
    margin-left: 20px;

}


.titulo-articulo{
    font-size: 30px;
    font-weight: bold;
    color: #695334;
}

.texto-articulo{
    padding-top: 2em;
    overflow: auto;
}

/*CSS pagina nosotros*/

.texto-nosotros{
    display:inline-flex;
    padding-bottom: 10px;
}

.nosotros{
    background-color: #c7b098;
    padding-top: 20px;
    font-size: 1em;
}

.img-nos{
    width: 20em;
    height: 20em;
}
    
footer a {
    color: #fff;
    background-color: #d69e2e;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;

}

/*estilos del formulario*/
.form-control{
    text-align: left;
    
}
.form-group{
    text-align: left;
    padding-left:  25vw;
    width: 80%;
}
